@import '../../../styles/style.scss';

.btnWrapper {
  .innerWrapper {
    position: relative;
    display: inline-block;

    &:hover {
      .btnBg {
        transform: translate(0, 0);
        transition: all 0.3s ease;
      }
    }

    .btnBg {
      position: absolute;
      background: $rust;
      transform: translate(5px, -5px);
      width: 100%;
      height: 100%;
      z-index: 1;
      transition: all 0.3s ease;
    }

    .button {
      position: relative;
      z-index: 10;
      display: inline-block;
      padding: 10px 30px;
      border: 2px solid $blue;
      font-weight: 600;
      @include font-size(14);
      display: flex;
      align-items: center;
    }
  }
}
