@import '../../../../../styles/style.scss';

#mobile-menu-items {
  position: fixed;
  background: #eef4f3;
  height: 100vh;
  width: 100%;
  left: calc(100% + 20px);
  top: 0;
  transition: all 0.3s ease;

  &.is-shown {
    left: 0;
  }

  .items-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .item {
      font-family: $title-font;
      text-transform: capitalize;
      @include font-size(32);
      margin-bottom: 20px;
      color: $blue;

      &:hover {
        text-decoration: underline;
      }

      &.last {
        margin-bottom: 0;
      }
    }
  }
}
