@import '../../../styles/style.scss';

.nav {
    position: relative;
    height: 80px;
    display: flex;
    align-items: center;
    top: 20px;
    justify-content: space-between;
    z-index: 100;
    font-family: 'Open Sans';
    font-weight: 100;
    padding: 0 20px;
    font-size: 15px;

    @include mq(custom, max, 800) {
        position: sticky;
        top: -1px;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logoWrapper {
            z-index: 100;
        }

        .navLink {
            font-weight: 400;
            padding-left: 50px;
            text-transform: uppercase;
            @include font-size(14);
        }
    }
}