@import '../../../styles/style.scss';

.resourcesWrapper {
  background: #ffffff;
  height: 100%;
  background-size: cover;
  background-position: bottom center;
  margin-bottom: 100px;

  @include mq(custom, max, 650) {
    margin-bottom: 0;
  }

  .title {
    margin-bottom: 50px;
  }

  .gridWrapper {
    display: grid;
    grid-template-columns: minmax(auto, 350px) minmax(auto, 350px);
    grid-row-gap: 50px;
    grid-column-gap: 50px;
    justify-content: center;

    @include mq(custom, max, 650) {
      grid-template-columns: minmax(auto, 350px);
      grid-row-gap: 20px;
    }

    .gridItem {
      padding: 30px;
      border: 4px solid $blue;
      max-width: 350px;
      display: flex;
      flex-direction: column;

      .itemTitle {
        margin-bottom: 30px;
      }

      .img-wrapper {
        margin-bottom: 20px;
        img {
          width: 100%;
          max-width: 150px;
        }
      }

      .btnWrapper {
        margin-top: auto;

        a {
          font-weight: 600;
        }
      }
    }
  }
}
