@import '../../../styles/style.scss';

.footer {
  background: $blue;
  margin-top: 20px;
  padding-left: 20px !important;
  padding-right: 20px !important;

  .flex-wrapper {
    display: flex;
    justify-content: space-between;

    @include mq(custom, max, 650) {
      flex-wrap: wrap;
    }

    .flexItem {
      width: 33.333%;

      @include mq(custom, max, 650) {
        width: 100%;
      }

      .contactWrapper {
        .link {
          color: #fff;
          margin-bottom: 20px;
          font-weight: 500;
          @include font-size(14);
          opacity: 0.8;

          &:hover {
            opacity: 1;
          }

          &:last-child {
            padding-bottom: 0;
          }
        }
      }
    }

    .contactWrapper {
      display: flex;
      flex-direction: column;

      .phone,
      .address {
        display: block;
        color: #fff;
        font-weight: 600;
        @include font-size(14);
        margin-bottom: 25px;
      }
    }
  }

  .footer-1 .copyright {
    opacity: 0.8;
  }

  .footer-1,
  .footer-2,
  .footer-3 {

    @include mq(custom, max, 650) {
      justify-content: flex-start;
      margin-bottom: 50px;
    }

    .title {
      color: white;
    }

    svg {
      stroke: white;
      width: 20px;
      margin-right: 10px;
    }
  }

  .footer-2 {
    .flex {
      justify-content: flex-start;

      .link {
        opacity: 0.8;
        margin-bottom: 10px;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .footer-3 {
    .contactWrapper {
      .link {
        margin-bottom: 20px;
      }
    }
  }
}
