@import '../../../styles/style.scss';

.footer {
  background: $blue;

  .flex {
    display: flex;
    justify-content: space-between;

    @include mq(custom, max, 650) {
      flex-wrap: wrap;
    }

    .flexItem {
      display: flex;
      justify-content: center;
      width: 33.3333333%;

      @include mq(custom, max, 650) {
        width: 100%;
        margin-bottom: 30px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .colWrap {
        text-align: left;

        @include mq(custom, max, 650) {
          text-align: center;
        }

        .imgWrapper {
          img {
            width: 300px;

            @include mq(custom, max, 1000) {
              width: 250px;
            }

            @include mq(custom, max, 800) {
              width: 220px;
            }

            @include mq(custom, max, 700) {
              width: 200px;
            }
          }
        }
      }
    }

    .menuWrapper {
      display: flex;
      flex-direction: column;
      // padding-left: 120px;

      a {
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 15px;
        font-weight: 600;
        @include font-size(14);

        &:last-child {
          padding-bottom: 0;
        }
      }
    }

    .contactWrapper {
      display: flex;
      flex-direction: column;

      .phone,
      .address {
        display: block;
        color: #fff;
        font-weight: 600;
        @include font-size(14);
        margin-bottom: 25px;
      }
    }
  }
}
