@import '../../../styles/style.scss';

.heroWrapper {
  background: #f9f6ec;
  position: relative;
  top: -80px;
  margin-bottom: -80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  min-height: 650px;

  .columns {
    align-items: center;
    flex-wrap: wrap;
    margin-top: 80px;

    .column {
      padding: 20px;
      width: 50%;

      @include mq(custom, max, 800) {
        width: 100%;
      }

      // .title {
      //     @include mq(custom, max, 1000) {
      //         @include font-size(38);
      //     }
      // }

      .bodyText {
        margin: 0 auto 30px;
        font-size: 20px;
        font-weight: 300;
        max-width: 400px;
      }

      .img {
        width: 100%;
      }
    }

    .imgWrapper {
      @include mq(custom, max, 800) {
        display: none;
      }
    }
  }
}
