@import '../../../styles/style.scss';

.heroWrapper {
  background: #f9f6ec;
  position: relative;
  top: -80px;
  margin-bottom: -80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  min-height: 650px;
  // width: 100vw;
  // height: 100vh;
  background: linear-gradient(334deg, #6b97f7, #7525e2, #f7137e);
  background-size: 180% 180%;
  animation: gradient-animation 6s ease infinite;

  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .columns {
    align-items: center;
    flex-wrap: wrap;
    margin: 150px 0;
    gap: 150px;

    @include mq(custom, max, 1040) {
      gap: 50px;
    }

    .column {
      padding: 0;
      width: 50%;

      @include mq(custom, max, 800) {
        width: 100%;
      }

      h1 {
        margin-bottom: 40px;
      }

      .subtitle {
        margin-bottom: 30px;
      }

      .bodyText {
        margin: 0 auto 30px;
        font-size: 20px;
        font-weight: 300;
        max-width: 400px;
      }

      .img {
        position: relative;
        z-index: 2;
        width: 100%;
        max-width: 450px;
        border-radius: 100px 0 100px 0;
        background-position: 25% 75%;
      }

      .imgBg {
        position: absolute;
        width: 100%;
        height: 100%;
        max-width: 450px;
        background-color: $blue;
        transform: translate(-25px, 25px);
        top: 0;
        border-radius: 100px 0 100px 0;

        @include mq(custom, max, 550) {
          transform: translate(5px, -5px);
        }
      }

      &.content-wrapper {
        text-align: center;
        display: flex;
        flex-direction: column;
      }
    }

    .imgWrapper {
      position: relative;

      @include mq(custom, max, 1040) {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
  }
}
