@import '../../../styles/style.scss';

.servicesIntroWrapper {
  background: #f9f6ec;
  position: relative;
  top: -80px;
  margin-bottom: -80px;
  display: flex;
  align-items: center;
  // padding: 0 20px;

  .title {
    width: 100%;
    margin-bottom: 50px;
  }

  .contentWrapper {
    display: flex;
    align-items: center;
    position: relative;

    .shape {
      width: 4px;
      height: 100%;
      background: $rust;
      position: absolute;

      @include mq(custom, max, 550) {
        display: none;
      }
    }

    .textWrapper {
      padding-left: 60px;

      @include mq(custom, max, 550) {
        padding-left: 0;
      }

      .subTitle {
        color: $rust;
        font-weight: 600;
      }

      p:last-child {
        margin: 0;
      }
    }
  }

  svg {
    position: absolute;
    bottom: -70px;
    margin-left: calc(50% - 8px);

    @include mq(custom, max, 800) {
      display: none;
    }
  }
}
