#floating_circles_header {
    position: absolute;
    top: 120px;
    height: 100%;
    width: 100%;
    pointer-events: none;
    opacity: 0.3;
}

#floating_circles {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 101;
    pointer-events: none;
    opacity: 0.4;
    background-size: cover;
}