body.fixed {
  height: 100%;
  overflow: hidden;
}

.sectionPadding {
  padding: 0 40px 160px;

  @include mq(custom, max, 800) {
    padding: 0 20px 120px;
  }

  @include mq(custom, max, 600) {
    padding: 0 0 80px;
  }

  @include mq(custom, max, 400) {
    padding: 0 0 50px;
  }
}

.sectionPadding-both {
  padding: 160px 40px;

  @include mq(custom, max, 800) {
    padding: 120px 20px;
  }

  @include mq(custom, max, 600) {
    padding: 80px 0;
  }

  @include mq(custom, max, 400) {
    padding: 50px 0;
  }
}

.sectionPadding-lg {
  padding: 0 40px 200px;
}

.sectionPadding-sm {
  padding: 100px 40px;

  @include mq(custom, max, 800) {
    padding: 80px 40px;
  }

  @include mq(custom, max, 600) {
    padding: 60px 40px;
  }

  @include mq(custom, max, 400) {
    padding: 40px 40px;
  }
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;

  .flex-item {
    flex: 1;
  }
}
