body {
  &.fixed {
    height: 100%;
    overflow: hidden;
  }

  .main-layout {
    border: 20px solid white;

    @include mq(custom, max, 800) {
      border: 10px solid white;
    }
  }
}

.sectionPadding {
  padding: 0 40px 120px;

  @include mq(custom, max, 800) {
    padding: 0 40px 80px;
  }

  @include mq(custom, max, 600) {
    padding: 0 20px 80px;
  }

  @include mq(custom, max, 400) {
    padding: 0 20px 50px;
  }
}

.sectionPadding-both {
  padding: 120px 40px;

  @include mq(custom, max, 800) {
    padding: 80px 20px;
  }

  @include mq(custom, max, 600) {
    padding: 80px 20px;
  }

  @include mq(custom, max, 400) {
    padding: 50px 20px;
  }
}

.sectionPadding-top {
  padding: 200px 40px 160px;

  @include mq(custom, max, 800) {
    padding: 160px 20px 120px;
  }

  @include mq(custom, max, 600) {
    padding: 120px 20px 80px;
  }
}

.sectionPadding-lg {
  padding: 0 40px 200px;
}

.sectionPadding-sm {
  padding: 100px 40px;

  @include mq(custom, max, 800) {
    padding: 80px 20px;
  }

  @include mq(custom, max, 600) {
    padding: 60px 20px;
  }

  @include mq(custom, max, 400) {
    padding: 40px 20px;
  }
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;

  .flex-item {
    flex: 1;
  }
}
