.sectionPadding {
    padding: 160px 20px;
}

.sectionPadding-lg {
    padding: 200px 20px;
}

.sectionPadding-sm {
    padding: 100px 20px;
}

.text-center {
    text-align: center;
}

.columns {
    display: flex;

    .column {
        flex: 1;
    }
}