// Breakpoints
// $breakpoint-xsmall: 400px;
// $breakpoint-small: 768px;
// $breakpoint-med: 960px;
// $breakpoint-large: 1200px;
// $breakpoint-xlarge: 1400px;

// Test Colours
$test1: pink;
$test2: steelblue;
$test3: lightgreen;
$test4: tomato;

// Core colors
$blue: #0F4C81 !default;
$cream: #F9F6EC !default;
$rust: #DB6B5C !default;
$grey: #DBDBDB !default;
$light-grey: #EFF4F3 !default;
$off-white: #FEFEFE !default;

$link-color: #0F4C81 !default;

// Fonts
$title-font: "Libre Baskerville", sans-serif !default;
$body-font: "Open Sans", sans-serif !default;

// Typography
$line-height: 1.5;
$border-width: 1px;
$border-width-lg: 3px;

// Navbar
$navbar-height: 120px; 
$navbar-scrolled-height: 70px;

// Mobile Menu 
$mob-menu-padding: 10px;