@import '../../../styles/style.scss';

.aboutWrapper {
  background: #f9f6ec;
  position: relative;
  top: -80px;
  margin-bottom: -80px;
  display: flex;
  padding: 0 20px;

  .title {
    width: 100%;
    margin-bottom: 50px;
  }

  .columns {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    @include mq(custom, max, 1100) {
      flex-wrap: wrap;
    }

    .left {
      width: 50%;
      display: flex;
      justify-content: space-between;

      @include mq(custom, max, 1100) {
        width: 100%;
      }

      .shape {
        width: 4px;
        height: 200px;
        background: $rust;

        @include mq(custom, max, 800) {
          display: none;
        }
      }

      .textWrapper {
        width: 100%;
        padding-left: 60px;

        @include mq(custom, max, 800) {
          padding-left: 0;
        }
      }
    }

    .right {
      width: 50%;

      @include mq(custom, max, 1100) {
        width: 100%;
        margin-top: 70px;
      }

      .imgWrapper {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
        position: relative;

        .img {
          width: 100%;
          position: relative;
          z-index: 10;
        }

        .imgBg {
          position: absolute;
          width: 100%;
          height: 100%;
          max-width: 300px;
          background-color: $blue;
          transform: translate(25px, -25px);
          top: 0;

          @include mq(custom, max, 550) {
            transform: translate(5px, -5px);
          }
        }
      }
    }

    .imgWrapper {
      @include mq(custom, max, 800) {
        //display: none;
      }
    }
  }
}
