@import '../../../styles/style.scss';

.helpWrapper {
  background: url('/images/home-how-can-i-help-bg.svg');
  height: 100%;
  background-size: cover;
  background-position: bottom center;
  margin-bottom: 100px;
  // border: 2px solid red;

  @include mq(custom, max, 650) {
    margin-bottom: 0;
  }

  .title {
    margin-bottom: 50px;
  }

  .gridWrapper {
    display: grid;
    grid-template-columns: minmax(auto, 350px) minmax(auto, 350px);
    grid-row-gap: 50px;
    grid-column-gap: 50px;
    justify-content: center;

    @include mq(custom, max, 650) {
      grid-template-columns: minmax(auto, 350px);
      grid-row-gap: 20px;
    }

    .gridItem {
      padding: 30px;
      border: 4px solid $blue;
      max-width: 350px;

      .itemTitle {
        margin-bottom: 30px;
      }

      ul {
        li {
          color: $blue;
          margin-bottom: 15px;
        }
      }

      .btnWrapper {
        margin-top: 30px;

        a {
          font-weight: 600;
        }
      }
    }
  }
}
