@import '../../../styles/style.scss';

.helpWrapper {
  background: url('/images/home-how-can-i-help-bg.svg');
  height: 100%;
  background-size: cover;
  background-position: bottom center;
  margin-bottom: 100px;

  .title {
    margin-bottom: 50px;
  }

  .gridWrapper {
    display: grid;
    grid-template-columns: minmax(auto, 300px)  minmax(auto, 300px);
    grid-row-gap: 50px;
    grid-column-gap: 50px;
    justify-content: center;

    .gridItem {
      padding: 30px;
      border: 4px solid $blue;
      max-width: 350px;

      .itemTitle {
        margin-bottom: 30px;
      }

      ul {
        li {
          color: $blue;
          margin-bottom: 20px;
        }
      }
    }
  }
}
