@import '../../../styles/style';

.helpWrapper {
  background: url('/images/home-how-can-i-help-bg.svg');
  width: 100%;
  height: 100%;
  background-size: cover;

  .gridWrapper {
      border: 2px solid red;

      .gridItem {
            border: 4px solid $base;


          .title {
              color: $base;
              font-size: 100px;
          }
      }
  }
}
