@import '../../../styles/style.scss';

.whatToExpectWrapper {
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 80px;

  .title {
    color: $rust;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 56px;
  }

  .flex {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    .left {
      width: 60px;

      .number {
        font-family: $title-font;
        @include font-size(36);
        color: $rust;
        margin: 0;
      }
    }

    .right {
      width: 100%;

      .text {
        margin: 0;
      }
    }
  }
}
