@import '../../../../styles/style.scss';

.desktopMenu {
    display: flex;

    @include mq(custom, max, 800) {
        display: none;
    }

    a {
        padding-left: 30px;
        text-transform: uppercase;
        @include font-size(14);
        font-weight: 600;
    }
}