@import '../../../../styles/style.scss';

.mobileMenu {
  display: none;

  @include mq(custom, max, 1000) {
    display: block;
    overflow: hidden;
  }

  .menuWrapper {
    border: 2px solid red;
  }
}
