@import '../../../styles/style.scss';

.contactInfoWrapper {
    background: #F9F6EC;
    position: relative;
    top: -80px;
    margin-bottom: -80px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    min-height: 800px;

    .columns {
        flex-wrap: wrap;

        .column {
            padding: 20px;
            width: 50%;

            @include mq(custom, max, 800) {
                width: 100%;
            }

            .title {
                text-align: left;
            }

            .infoWrapper {
                max-width: 400px;
                display: flex;
                margin-top: 50px;

                .left {
                    width: 150px;
                    text-align: left;

                    p {
                        color: $rust;
                    }
                }

                .right {
                    width: 100%;
                    text-align: left;

                    p {
                        font-family: $title-font;

                        &:last-of-type {
                            margin-bottom: 50px;
                        }
                    }
                }
            }

            .img {
                width: 100%;
            }
        }

        .mapWrapper {
            .map {
                position: relative;

                .mapBg {
                    position: absolute;
                    background: $blue;
                    width: 100%;
                    height: 400px;
                    transform: translate(-25px, 25px);
                    z-index: 1;
                }

                iframe {
                    position: relative;
                    z-index: 10;
                }
            }
        }
    }
}