@import '../../../styles/style.scss';

.contactForm {
 background: url('/images/services-bg.svg');
  background-size: cover;
  background-position: top center;

  .title {
    text-align: center;
    margin-bottom: 60px;
  }

  .formWrapper {
    border: 4px solid $blue;
    padding: 50px;
    position: relative;

    @include mq(custom, max, 550) {
      padding: 30px;
    }

    .formOutline {
      border: 4px solid $rust;
      position: absolute;
      left: 12px;
      top: -20px;
      width: calc(100% + 8px);
      height: calc(100% + 8px);
      z-index: -1;

      @include mq(custom, max, 800) {
        left: 5px;
        top: -13px;
      }
    }

    .form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      input,
      textarea {
        width: 100%;
        padding: 10px 0;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid $blue;
        // border: 2px solid $blue;
        font-family: $title-font;
        margin-bottom: 50px;
        color: $blue;
        @include font-size(14);
        resize: vertical;
        background: transparent;

        &::placeholder {
          color: #8eacc5;
        }

        &:focus {
          outline: none;
        }

        @include mq(custom, max, 550) {
          margin-bottom: 20px;
        }
      }

      .leftCol,
      .rightCol {
        width: 45%;

        @include mq(custom, max, 550) {
          width: 100%;
        }
      }

      .bottom {
        width: 100%;

        .btnWrapper {
          .innerWrapper {
            position: relative;
            display: inline-block;

            &:hover {
              .btnBg {
                transform: translate(0, 0);
                transition: all 0.3s ease;
              }
            }

            .btnBg {
              position: absolute;
              background: $rust;
              transform: translate(5px, -5px);
              width: 100%;
              height: 100%;
              z-index: 1;
              transition: all 0.3s ease;
            }

            .button {
              position: relative;
              z-index: 10;
              display: flex;
              padding: 10px 30px;
              border: 2px solid $blue;
              font-weight: 600;
              @include font-size(14);
            }
          }
        }
      }
    }
  }

  .formLegal {
    margin-top: 60px;
    text-align: center;
    @include font-size(14);
  }
}
