@import '../../../styles/style.scss';

.faqWrapper {
    .faq {
        border: 4px solid $blue;
        padding: 30px;

        .faqHeader {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: $title-font;
            @include font-size(28);
            color: $blue;
        }

        .faqBody {
            margin-top: 30px;
            color: $blue;
            font-family: $title-font;
            @include font-size(16);
            display: none;

            &.show {
                display: block;
            }
        }
    };
}